<h2> <%= @room.name %> </h2>

<% @room.messages.each do |message|%>
  <div style="border: solid 1px black;">
    <h5>Author: <%= message.user.name %></h5>
    <p><%= message.body %></p>
  </div>
<% end %>

Write message
<%= form_with model: [@room, Message.new] do |form|%>
  <%= form.text_area :body %>
  <%= form.submit %>
<% end %>