<!DOCTYPE html>
<html>
  <head>
    <title>Justsignin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash.alert %>
      <div style="color:red"><%= flash.alert %></div>
    <% end %>

    <% if flash.notice %>
    <div style="color:green"><%= flash.notice %></div>
    <% end %>

    <% if @user %>
      <div> Logged in as <%= @user.name %></div>
      <%= link_to 'Log out', log_out_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
